<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork900-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Web Scraping Lab**

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="https://bso/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">Beautiful Soup Object</a>
            <ul>
                <li>Tag</li>
                <li>Children, Parents, and Siblings</li>
                <li>HTML Attributes</li>
                <li>Navigable String</li>
            </ul>
        </li>
     </ul>
    <ul>
        <li>
            <a href="https://filter/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">Filter</a>
            <ul>
                <li>find All</li>
                <li>find </li>
                <li>HTML Attributes</li>
                <li>Navigable String</li>
            </ul>
        </li>
     </ul>
     <ul>
        <li>
            <a href="https://dscw/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">Downloading And Scraping The Contents Of A Web</a>
    </li>
         </ul>
    <p>
        Estimated time needed: <strong>25 min</strong>
    </p>

</div>

<hr>

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
!mamba install bs4==4.10.0 -y
!pip install lxml==4.6.4
!mamba install html5lib==1.1 -y
# !pip install requests==2.26.0

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.15.3) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['bs4==4.10.0']

pkgs/main/noarch         [<=>                 ] (00m:00s)
pkgs/main/noarch         [=>                ] (00m:00s) 12 KB / ?? (79.45 KB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 12 KB / ?? (79.45 KB/s)
pkgs/r/linux-64          [<=>                 ] (00m:00s)
pkgs/main/noarch         [=>                ] (00m:00s) 12 KB / ?? (79.45 KB/s)
pkgs/r/linux-64          [=>               ] (00m:00s) 29 KB / ?? (194.93 KB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 12 KB / ?? (79.45 KB/s)
pkgs/r/linux-64          [=>               ] (00m:00s) 29 KB / ?? (194.93 KB/s)
pkgs/r/noarch            [<=>                 ] (00m:00s)
pkgs/main/noarch         [=>                ] (00m:00s) 12 KB / ?? (79.45 KB/s)
pkgs/r/linux-64          [=>               ] (00m:00s) 29 KB / ?? (194.93 KB/s)
pkgs/r/noarch            [=>               ] (00m:00s) 29 KB / ?? (194.90 KB/s)
pkgs/main/noarch         [=>                ] (00m:00s) 12 KB / ?? (79.45 KB/s)
pkgs/r/linux-64          [=>               ] (00m:00s) 29 KB / ?? (194.93 KB/s)
pkgs/r/noarch            [=>               ] (00m:00s) 29 KB / ?? (194.90 KB/s)
pkgs/main/linux-64       [<=>                 ] (00m:00s)
pkgs/main/noarch         [=>                ] (00m:00s) 12 KB / ?? (79.45 KB/s)
pkgs/r/linux-64          [=>               ] (00m:00s) 29 KB / ?? (194.93 KB/s)
pkgs/r/noarch            [=>               ] (00m:00s) 29 KB / ?? (194.90 KB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/main/noarch         [<=>               ] (00m:00s) 12 KB / ?? (79.45 KB/s)
pkgs/r/linux-64          [=>               ] (00m:00s) 29 KB / ?? (194.93 KB/s)
pkgs/r/noarch            [=>               ] (00m:00s) 29 KB / ?? (194.90 KB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/main/noarch         [<=>               ] (00m:00s) 800 KB / ?? (2.59 MB/s)
pkgs/r/linux-64          [=>               ] (00m:00s) 29 KB / ?? (194.93 KB/s)
pkgs/r/noarch            [=>               ] (00m:00s) 29 KB / ?? (194.90 KB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/main/noarch         [<=>               ] (00m:00s) 800 KB / ?? (2.59 MB/s)
pkgs/r/linux-64          [<=>              ] (00m:00s) 29 KB / ?? (194.93 KB/s)
pkgs/r/noarch            [=>               ] (00m:00s) 29 KB / ?? (194.90 KB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/main/noarch         [<=>               ] (00m:00s) 800 KB / ?? (2.59 MB/s)
pkgs/r/linux-64          [<=>               ] (00m:00s) 756 KB / ?? (2.45 MB/s)
pkgs/r/noarch            [=>               ] (00m:00s) 29 KB / ?? (194.90 KB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/main/noarch         [<=>               ] (00m:00s) 800 KB / ?? (2.59 MB/s)
pkgs/r/linux-64          [<=>               ] (00m:00s) 756 KB / ?? (2.45 MB/s)
pkgs/r/noarch            [<=>              ] (00m:00s) 29 KB / ?? (194.90 KB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/main/noarch         [<=>               ] (00m:00s) 800 KB / ?? (2.59 MB/s)
pkgs/r/linux-64          [<=>               ] (00m:00s) 756 KB / ?? (2.45 MB/s)
pkgs/r/noarch            [<=>               ] (00m:00s) 812 KB / ?? (2.63 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/main/noarch         [ <=>                ] (00m:00s) Finalizing...
pkgs/r/linux-64          [<=>               ] (00m:00s) 756 KB / ?? (2.45 MB/s)
pkgs/r/noarch            [<=>               ] (00m:00s) 812 KB / ?? (2.63 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/main/noarch         [ <=>                ] (00m:00s) Done
pkgs/r/linux-64          [<=>               ] (00m:00s) 756 KB / ?? (2.45 MB/s)
pkgs/r/noarch            [<=>               ] (00m:00s) 812 KB / ?? (2.63 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/main/noarch         [====================] (00m:00s) Done
pkgs/r/linux-64          [<=>               ] (00m:00s) 756 KB / ?? (2.45 MB/s)
pkgs/r/noarch            [<=>               ] (00m:00s) 812 KB / ?? (2.63 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/r/linux-64          [<=>               ] (00m:00s) 756 KB / ?? (2.45 MB/s)
pkgs/r/noarch            [ <=>                ] (00m:00s) Finalizing...
pkgs/main/linux-64       [=>                ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/r/linux-64          [<=>               ] (00m:00s) 756 KB / ?? (2.45 MB/s)
pkgs/r/noarch            [ <=>                ] (00m:00s) Done
pkgs/main/linux-64       [=>                ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/r/noarch            [====================] (00m:00s) Done
pkgs/r/linux-64          [<=>               ] (00m:00s) 756 KB / ?? (2.45 MB/s)
pkgs/main/linux-64       [=>                ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) Finalizing...
pkgs/main/linux-64       [=>                ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/r/linux-64          [ <=>                ] (00m:00s) Done
pkgs/main/linux-64       [=>                ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/r/linux-64          [====================] (00m:00s) Done
pkgs/main/linux-64       [=>                ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/main/linux-64       [<=>               ] (00m:00s) 732 KB / ?? (2.38 MB/s)
pkgs/main/linux-64       [ <=>                ] (00m:00s) 2 MB / ?? (3.41 MB/s)
pkgs/main/linux-64       [  <=>               ] (00m:00s) 2 MB / ?? (3.41 MB/s)
pkgs/main/linux-64       [  <=>               ] (00m:00s) 2 MB / ?? (4.02 MB/s)
pkgs/main/linux-64       [   <=>              ] (00m:00s) 2 MB / ?? (4.02 MB/s)
pkgs/main/linux-64       [   <=>              ] (00m:00s) 3 MB / ?? (4.27 MB/s)
pkgs/main/linux-64       [    <=>             ] (00m:00s) 3 MB / ?? (4.27 MB/s)
pkgs/main/linux-64       [    <=>             ] (00m:00s) 4 MB / ?? (4.49 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) 4 MB / ?? (4.49 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) 5 MB / ?? (4.65 MB/s)
pkgs/main/linux-64       [     <=>            ] (00m:00s) Finalizing...
pkgs/main/linux-64       [     <=>            ] (00m:00s) Done
pkgs/main/linux-64       [====================] (00m:00s) Done

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - bs4==4.10.0
   - ca-certificates
   - certifi
   - openssl


  Package               Version  Build           Channel                  Size
────────────────────────────────────────────────────────────────────────────────
  Install:
────────────────────────────────────────────────────────────────────────────────

  + bs4                  4.10.0  hd3eb1b0_0      pkgs/main/noarch        10 KB

  Upgrade:
────────────────────────────────────────────────────────────────────────────────

  - ca-certificates   2022.9.24  ha878542_0      installed
  + ca-certificates  2023.01.10  h06a4308_0      pkgs/main/linux-64     120 KB
  - certifi           2022.9.24  pyhd8ed1ab_0    installed
  + certifi           2022.12.7  py37h06a4308_0  pkgs/main/linux-64     150 KB
  - openssl              1.1.1s  h0b41bf4_1      installed
  + openssl              1.1.1t  h7f8727e_0      pkgs/main/linux-64       4 MB

  Downgrade:
────────────────────────────────────────────────────────────────────────────────

  - beautifulsoup4       4.11.1  pyha770c72_0    installed
  + beautifulsoup4       4.10.0  pyh06a4308_0    pkgs/main/noarch        85 KB

  Summary:

  Install: 1 packages
  Upgrade: 3 packages
  Downgrade: 1 packages

  Total download: 4 MB

────────────────────────────────────────────────────────────────────────────────

Downloading  [>                                        ] (00m:00s)   67.61 KB/s
Extracting   [>                                                      ] (--:--)
Finished bs4                                  (00m:00s)              10 KB     67 KB/s
Downloading  [>                                        ] (00m:00s)   67.61 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)   67.61 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)   67.61 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)   70.16 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)   70.16 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [>                                        ] (00m:00s)   70.16 KB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [=>                                       ] (00m:00s)    1.02 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Finished certifi                              (00m:00s)             150 KB    978 KB/s
Downloading  [=>                                       ] (00m:00s)    1.02 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [=>                                       ] (00m:00s)    1.02 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [=>                                       ] (00m:00s)    1.02 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [==>                                      ] (00m:00s)    1.51 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Finished beautifulsoup4                       (00m:00s)              85 KB    532 KB/s
Downloading  [==>                                      ] (00m:00s)    1.51 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [==>                                      ] (00m:00s)    1.51 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [===>                                     ] (00m:00s)    2.20 MB/s
Extracting   [========>                                ] (00m:00s)        1 / 5
Downloading  [===>                                     ] (00m:00s)    2.20 MB/s
Extracting   [================>                        ] (00m:00s)        2 / 5
Downloading  [===>                                     ] (00m:00s)    2.20 MB/s
Extracting   [================>                        ] (00m:00s)        2 / 5
Finished ca-certificates                      (00m:00s)             120 KB    742 KB/s
Downloading  [===>                                     ] (00m:00s)    2.20 MB/s
Extracting   [================>                        ] (00m:00s)        2 / 5
Downloading  [===>                                     ] (00m:00s)    2.20 MB/s
Extracting   [================>                        ] (00m:00s)        2 / 5
Downloading  [===>                                     ] (00m:00s)    2.20 MB/s
Extracting   [========================>                ] (00m:00s)        3 / 5
Downloading  [===>                                     ] (00m:00s)    2.20 MB/s
Extracting   [========================>                ] (00m:00s)        3 / 5
Downloading  [===>                                     ] (00m:00s)    2.20 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Downloading  [=========================================] (00m:00s)   22.13 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Finished openssl                              (00m:00s)               4 MB     20 MB/s
Downloading  [=========================================] (00m:00s)   22.13 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Downloading  [=========================================] (00m:00s)   22.13 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Downloading  [=========================================] (00m:00s)   22.13 MB/s
Extracting   [================================>        ] (00m:00s)        4 / 5
Downloading  [=========================================] (00m:00s)   22.13 MB/s
Extracting   [=========================================] (00m:00s)        5 / 5
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting lxml==4.6.4
  Downloading lxml-4.6.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 76.6 MB/s eta 0:00:00:00:0100:01
Installing collected packages: lxml
  Attempting uninstall: lxml
    Found existing installation: lxml 4.9.1
    Uninstalling lxml-4.9.1:
      Successfully uninstalled lxml-4.9.1
Successfully installed lxml-4.6.4

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (0.15.3) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['html5lib==1.1']

pkgs/main/linux-64       Using cache
pkgs/main/noarch         Using cache
pkgs/r/linux-64          Using cache
pkgs/r/noarch            Using cache

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - html5lib==1.1
   - ca-certificates
   - certifi
   - openssl


  Package         Version  Build         Channel                 Size
───────────────────────────────────────────────────────────────────────
  Install:
───────────────────────────────────────────────────────────────────────

  + html5lib          1.1  pyhd3eb1b0_0  pkgs/main/noarch       91 KB
  + webencodings    0.5.1  py37_1        pkgs/main/linux-64     19 KB

  Summary:

  Install: 2 packages

  Total download: 110 KB

───────────────────────────────────────────────────────────────────────

Downloading  [======>                                  ] (00m:00s)  142.50 KB/s
Extracting   [>                                                      ] (--:--)
Finished webencodings                         (00m:00s)              19 KB    142 KB/s
Downloading  [======>                                  ] (00m:00s)  142.50 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [======>                                  ] (00m:00s)  142.50 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [======>                                  ] (00m:00s)  142.50 KB/s
Extracting   [>                                                      ] (--:--)
Downloading  [======>                                  ] (00m:00s)  142.50 KB/s
Extracting   [====================>                    ] (00m:00s)        1 / 2
Downloading  [=========================================] (00m:00s)  779.55 KB/s
Extracting   [====================>                    ] (00m:00s)        1 / 2
Finished html5lib                             (00m:00s)              91 KB    645 KB/s
Downloading  [=========================================] (00m:00s)  779.55 KB/s
Extracting   [====================>                    ] (00m:00s)        1 / 2
Downloading  [=========================================] (00m:00s)  779.55 KB/s
Extracting   [====================>                    ] (00m:00s)        1 / 2
Downloading  [=========================================] (00m:00s)  779.55 KB/s
Extracting   [====================>                    ] (00m:00s)        1 / 2
Downloading  [=========================================] (00m:00s)  779.55 KB/s
Extracting   [=========================================] (00m:00s)        2 / 2
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Import the required modules and functions

In [2]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

<h2 id="BSO">Beautiful Soup Objects</h2>

Beautiful Soup is a Python library for pulling data out of HTML and XML files, we will focus on HTML files. This is accomplished by representing the HTML as a set of objects with methods used to parse the HTML.  We can navigate the HTML as a tree and/or filter out what we are looking for.

Consider the following HTML:

In [3]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000</b> </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

We can store it as a string in the variable HTML:

In [4]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

To parse a document, pass it into the <code>BeautifulSoup</code> constructor, the <code>BeautifulSoup</code> object, which represents the document as a nested data structure:

In [5]:
soup = BeautifulSoup(html, "html.parser")

First, the document is converted to Unicode, (similar to ASCII),  and HTML entities are converted to Unicode characters. Beautiful Soup transforms a complex HTML document into a complex tree of Python objects. The <code>BeautifulSoup</code> object can create other types of objects. In this lab, we will cover <code>BeautifulSoup</code> and <code>Tag</code> objects that for the purposes of this lab are identical, and <code>NavigableString</code> objects.

We can use the method <code>prettify()</code> to display the HTML in the nested structure:

In [6]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

## Tags

Let's say we want the  title of the page and the name of the top paid player we can use the <code>Tag</code>. The <code>Tag</code> object corresponds to an HTML tag in the original document, for example, the tag title.

In [7]:
tag_object=soup.body
print("tag object:",tag_object)

tag object: <body><h3><b id="boldest">Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body>

we can see the tag type <code>bs4.element.Tag</code>

In [8]:
print("tag object type:",type(tag_object))

tag object type: <class 'bs4.element.Tag'>

If there is more than one <code>Tag</code>  with the same name, the first element with that <code>Tag</code> name is called, this corresponds to the most paid player:

In [9]:
tag_object=soup.h3
tag_object

Enclosed in the bold attribute <code>b</code>, it helps to use the tree representation. We can navigate down the tree using the child attribute to get the name.

### Children, Parents, and Siblings

As stated above the <code>Tag</code> object is a tree of objects we can access the child of the tag or navigate down the branch as follows:

In [10]:
tag_child =tag_object.b
tag_child

You can access the parent with the <code> parent</code>

In [11]:
parent_tag=tag_child.parent
parent_tag

this is identical to

In [12]:
tag_object

<code>tag_object</code> parent is the <code>body</code> element.

In [13]:
tag_object.parent

<code>tag_object</code> sibling is the <code>paragraph</code> element

In [14]:
sibling_1=tag_object.next_sibling
sibling_1

`sibling_2` is the `header` element which is also a sibling of both `sibling_1` and `tag_object`

In [15]:
sibling_2=sibling_1.next_sibling
sibling_2

<h3 id="first_question">Exercise: <code>next_sibling</code></h3>

Using the object <code>sibling\_2</code> and the property <code>next_sibling</code> to find the salary of Stephen Curry:

In [16]:
sibling3 = sibling_2.next_sibling
sibling3

<details><summary>Click here for the solution</summary>

```
sibling_2.next_sibling

```

</details>

### HTML Attributes

If the tag has attributes, the tag <code>id="boldest"</code> has an attribute <code>id</code> whose value is <code>boldest</code>. You can access a tag’s attributes by treating the tag like a dictionary:

In [17]:
tag_child['id']

'boldest'

You can access that dictionary directly as <code>attrs</code>:

In [18]:
tag_child.attrs

{'id': 'boldest'}

You can also work with Multi-valued attribute check out <a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01">\[1]</a> for more.

We can also obtain the content if the attribute of the <code>tag</code> using the Python <code>get()</code> method.

In [19]:
tag_child.get('id')

'boldest'

### Navigable String

A string corresponds to a bit of text or content within a tag. Beautiful Soup uses the <code>NavigableString</code> class to contain this text. In our HTML we can obtain the name of the first player by extracting the sting of the <code>Tag</code> object <code>tag_child</code> as follows:

In [20]:
tag_child

In [21]:
tag_string=tag_child.string
tag_string

'Lebron James'

we can verify the type is Navigable String

In [22]:
type(tag_string)

bs4.element.NavigableString

A NavigableString is just like a Python string or Unicode string, to be more precise. The main difference is that it also supports some  <code>BeautifulSoup</code> features. We can covert it to sting object in Python:

In [23]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

<h2 id="filter">Filter</h2>

Filters allow you to find complex patterns, the simplest filter is a string. In this section we will pass a string to a different filter method and Beautiful Soup will perform a match against that exact string.  Consider the following HTML of rocket launchs:

In [36]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

We can store it as a string in the variable <code>table</code>:

In [37]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [38]:
table_bs = BeautifulSoup(table, "html.parser")

## find All

The <code>find_all()</code> method looks through a tag’s descendants and retrieves all descendants that match your filters.

<p>
The Method signature for <code>find_all(name, attrs, recursive, string, limit, **kwargs)<c/ode>
</p>

### Name

When we set the <code>name</code> parameter to a tag name, the method will extract all the tags with that name and its children.

In [41]:
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>]

In [48]:
table_data=table_bs.find_all('td')
table_data

[<td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <td>300 kg</td>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <td>80 kg</td>]

The result is a Python Iterable just like a list, each element is a <code>tag</code> object:

In [49]:
first_row =table_rows[0]
first_row

The type is <code>tag</code>

In [50]:
print(type(first_row))

<class 'bs4.element.Tag'>

we can obtain the child

In [51]:
first_row.td

In [52]:
enumerate(table_rows)

If we iterate through the list, each element corresponds to a row in the table:

In [53]:
for i,row in enumerate(table_rows):
    print("row",i,"is",row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>

As <code>row</code> is a <code>cell</code> object, we can apply the method <code>find_all</code> to it and extract table cells in the object <code>cells</code> using the tag <code>td</code>, this is all the children with the name <code>td</code>. The result is a list, each element corresponds to a cell and is a <code>Tag</code> object, we can iterate through this list as well. We can extract the content using the <code>string</code>  attribute.

In [55]:
for i,row in enumerate(table_rows):
    print("row",i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('column',j,"cell",cell)

row 0
column 0 cell <td id="flight">Flight No</td>
column 1 cell <td>Launch site</td>
column 2 cell <td>Payload mass</td>
row 1
column 0 cell <td>1</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>
column 2 cell <td>300 kg</td>
row 2
column 0 cell <td>2</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
column 2 cell <td>94 kg</td>
row 3
column 0 cell <td>3</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>
column 2 cell <td>80 kg</td>

If we use a list we can match against any item in that list.

In [61]:
list_input=table_bs .find_all(name=["tr", "td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <td>80 kg</td>]

## Attributes

If the argument is not recognized it will be turned into a filter on the tag’s attributes. For example the <code>id</code>  argument, Beautiful Soup will filter against each tag’s <code>id</code> attribute. For example, the first <code>td</code> elements have a value of <code>id</code> of <code>flight</code>, therefore we can filter based on that <code>id</code> value.

In [62]:
table_bs.find_all(id="flight")

We can find all the elements that have links to the Florida Wikipedia page:

In [63]:
list_input=table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

If we set the  <code>href</code> attribute to True, regardless of what the value is, the code finds all tags with <code>href</code> value:

In [64]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

There are other methods for dealing with attributes and other related methods; Check out the following <a href='https://www.crummy.com/software/BeautifulSoup/bs4/doc/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01#css-selectors'>link</a>

<h3 id="exer_type">Exercise: <code>find_all</code></h3>

Using the logic above, find all the elements without <code>href</code> value

In [67]:
table_bs.find_all(href=False)

[<table><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr></table>,
 <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <a></a>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <a> </a>,
 <td>80 kg</td>]

<details><summary>Click here for the solution</summary>

```
table_bs.find_all(href=False)

```

</details>

Using the soup object <code>soup</code>, find the element with the <code>id</code> attribute content set to <code>"boldest"</code>.

In [69]:
soup.find_all(id = "boldest")

<details><summary>Click here for the solution</summary>

```
soup.find_all(id="boldest")

```

</details>

### string

With string you can search for strings instead of tags, where we find all the elments with Florida:

In [70]:
table_bs.find_all(string="Florida")

['Florida', 'Florida']

## find

The <code>find_all()</code> method scans the entire document looking for results, it’s if you are looking for one element you can use the <code>find()</code> method to find the first element in the document. Consider the following two table:

In [74]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

We store the HTML as a Python string and assign <code>two_tables</code>:

In [75]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

We create a <code>BeautifulSoup</code> object  <code>two_tables_bs</code>

In [80]:
two_tables_bs= BeautifulSoup(two_tables, 'html.parser')

We can find the first table using the tag name table

In [81]:
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

We can filter on the class attribute to find the second table, but because class is a keyword in Python, we add an underscore.

In [82]:
two_tables_bs.find("table",class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

<h2 id="DSCW">Downloading And Scraping The Contents Of A Web Page</h2>

We Download the contents of the web page:

In [83]:
url = "http://www.ibm.com"

We use <code>get</code> to download the contents of the webpage in text format and store in a variable called <code>data</code>:

In [90]:
data  = requests.get(url).text 
# data

We create a <code>BeautifulSoup</code> object using the <code>BeautifulSoup</code> constructor

In [91]:
soup = BeautifulSoup(data,"html.parser")  # create a soup object using the variable 'data'

Scrape all links

In [92]:
for link in soup.find_all('a',href=True):  # in html anchor/link is represented by the tag <a>

    print(link.get('href'))

https://www.ibm.com/reports/threat-intelligence/
https://www.ibm.com/about
https://www.ibm.com/consulting/?lnk=flathl
https://www.ibm.com/consulting/strategy/?lnk=flathl
https://www.ibm.com/consulting/ibmix?lnk=flathl
https://www.ibm.com/consulting/technology/
https://www.ibm.com/consulting/operations/?lnk=flathl
https://www.ibm.com/strategic-partnerships
https://www.ibm.com/employment/?lnk=flatitem
https://www.ibm.com/impact
https://research.ibm.com/
https://www.ibm.com/

## Scrape  all images  Tags

In [98]:
for link in soup.find_all('img'):# in html image is represented by the tag <img>
    print("** ",link)
    print("++ ",link.get('src'))

**  <img alt="Person standing with arms crossed" aria-describedby="bx--image-1" class="bx--image__img" src="https://1.dam.s81c.com/p/0a23e414312bcb6f/08196d0e04260ae5_cropped.jpg.global.sr_16x9.jpg"/>
++  https://1.dam.s81c.com/p/0a23e414312bcb6f/08196d0e04260ae5_cropped.jpg.global.sr_16x9.jpg
**  <img alt="Team members at work in a conference room" aria-describedby="bx--image-2" class="bx--image__img" src="https://1.dam.s81c.com/p/06655c075aa3aa29/CaitOppermann_2019_12_06_IBMGarage_DSC3304.jpg.global.m_16x9.jpg"/>
++  https://1.dam.s81c.com/p/06655c075aa3aa29/CaitOppermann_2019_12_06_IBMGarage_DSC3304.jpg.global.m_16x9.jpg
**  <img alt="Coworkers looking at laptops" aria-describedby="bx--image-3" class="bx--image__img" src="https://1.dam.s81c.com/p/08f951353c2707b8/052022_CaitOppermann_InsideIBM_London_2945_03.jpg.global.sr_16x9.jpg"/>
++  https://1.dam.s81c.com/p/08f951353c2707b8/052022_CaitOppermann_InsideIBM_London_2945_03.jpg.global.sr_16x9.jpg
**  <img alt="Cloud developer with red sweater coding at desk" aria-describedby="bx--image-4" class="bx--image__img" src="https://1.dam.s81c.com/p/064e0139f5a3aa5e/0500002_Lowell_LI_100119.jpg.global.sr_16x9.jpg"/>
++  https://1.dam.s81c.com/p/064e0139f5a3aa5e/0500002_Lowell_LI_100119.jpg.global.sr_16x9.jpg
**  <img alt="Aerial view of automated conveyer belt and machinery at work" aria-describedby="bx--image-5" class="bx--image__img" src="https://1.dam.s81c.com/p/0795cae91a25156f/conveyorrobottopview.jpg.global.sr_16x9.jpg"/>
++  https://1.dam.s81c.com/p/0795cae91a25156f/conveyorrobottopview.jpg.global.sr_16x9.jpg
**  <img alt="Overhead view of partners collaborating on design with laptops and coffee" aria-describedby="bx--image-6" class="bx--image__img" src="https://1.dam.s81c.com/p/06dfa9ccdba4ec79/1f417900-9042-44d1-9c219a854bbb62ea.jpg.global.sr_16x9.jpg"/>
++  https://1.dam.s81c.com/p/06dfa9ccdba4ec79/1f417900-9042-44d1-9c219a854bbb62ea.jpg.global.sr_16x9.jpg

## Scrape data from HTML tables

In [99]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

Before proceeding to scrape a web site, you need to examine the contents, and the way data is organized on the website. Open the above url in your browser and check how many rows and columns are there in the color table.

In [103]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text
# data

In [104]:
soup = BeautifulSoup(data,"html.parser")

In [112]:
#find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>
table

<table border="1" class="main-table">
<tr>
<td>Number </td>
<td>Color</td>
<td>Color Name</td>
<td>Hex Code<br/>#RRGGBB</td>
<td>Decimal Code<br/>(R,G,B)</td>
</tr>
<tr>
<td>1</td>
<td style="background:lightsalmon;"> </td>
<td>lightsalmon</td>
<td>#FFA07A</td>
<td>rgb(255,160,122)</td>
</tr>
<tr>
<td>2</td>
<td style="background:salmon;"> </td>
<td>salmon</td>
<td>#FA8072</td>
<td>rgb(250,128,114)</td>
</tr>
<tr>
<td>3</td>
<td style="background:darksalmon;"> </td>
<td>darksalmon</td>
<td>#E9967A</td>
<td>rgb(233,150,122)</td>
</tr>
<tr>
<td>4</td>
<td style="background:lightcoral;"> </td>
<td>lightcoral</td>
<td>#F08080</td>
<td>rgb(240,128,128)</td>
</tr>
<tr>
<td>5</td>
<td style="background:coral;"> </td>
<td>coral</td>
<td>#FF7F50</td>
<td>rgb(255,127,80)</td>
</tr>
<tr>
<td>6</td>
<td style="background:tomato;"> </td>
<td>tomato</td>
<td>#FF6347</td>
<td>rgb(255,99,71)</td>
</tr>
<tr>
<td>7</td>
<td style="background:orangered;"> </td>
<td>orangered</td>
<td>#FF4500</td>
<td>rgb(255,69,0)</td>
</tr>
<tr>
<td>8</td>
<td style="background:gold;"> </td>
<td>gold</td>
<td>#FFD700</td>
<td>rgb(255,215,0)</td>
</tr>
<tr>
<td>9</td>
<td style="background:orange;"> </td>
<td>orange</td>
<td>#FFA500</td>
<td>rgb(255,165,0)</td>
</tr>
<tr>
<td>10</td>
<td style="background:darkorange;"> </td>
<td>darkorange</td>
<td>#FF8C00</td>
<td>rgb(255,140,0)</td>
</tr>
<tr>
<td>11</td>
<td style="background:lightyellow;"> </td>
<td>lightyellow</td>
<td>#FFFFE0</td>
<td>rgb(255,255,224)</td>
</tr>
<tr>
<td>12</td>
<td style="background:lemonchiffon;"> </td>
<td>lemonchiffon</td>
<td>#FFFACD</td>
<td>rgb(255,250,205)</td>
</tr>
<tr>
<td>13</td>
<td style="background:papayawhip;"> </td>
<td>papayawhip</td>
<td>#FFEFD5</td>
<td>rgb(255,239,213)</td>
</tr>
<tr>
<td>14</td>
<td style="background:moccasin;"> </td>
<td>moccasin</td>
<td>#FFE4B5</td>
<td>rgb(255,228,181)</td>
</tr>
<tr>
<td>15</td>
<td style="background:peachpuff;"> </td>
<td>peachpuff</td>
<td>#FFDAB9</td>
<td>rgb(255,218,185)</td>
</tr>
<tr>
<td>16</td>
<td style="background:palegoldenrod;"> </td>
<td>palegoldenrod</td>
<td>#EEE8AA</td>
<td>rgb(238,232,170)</td>
</tr>
<tr>
<td>17</td>
<td style="background:khaki;"> </td>
<td>khaki</td>
<td>#F0E68C</td>
<td>rgb(240,230,140)</td>
</tr>
<tr>
<td>18</td>
<td style="background:darkkhaki;"> </td>
<td>darkkhaki</td>
<td>#BDB76B</td>
<td>rgb(189,183,107)</td>
</tr>
<tr>
<td>19</td>
<td style="background:yellow;"> </td>
<td>yellow</td>
<td>#FFFF00</td>
<td>rgb(255,255,0)</td>
</tr>
<tr>
<td>20</td>
<td style="background:lawngreen;"> </td>
<td>lawngreen</td>
<td>#7CFC00</td>
<td>rgb(124,252,0)</td>
</tr>
<tr>
<td>21</td>
<td style="background:chartreuse;"> </td>
<td>chartreuse</td>
<td>#7FFF00</td>
<td>rgb(127,255,0)</td>
</tr>
<tr>
<td>22</td>
<td style="background:limegreen;"> </td>
<td>limegreen</td>
<td>#32CD32</td>
<td>rgb(50,205,50)</td>
</tr>
<tr>
<td>23</td>
<td style="background:lime;"> </td>
<td>lime</td>
<td>#00FF00</td>
<td>rgb(0.255.0)</td>
</tr>
<tr>
<td>24</td>
<td style="background:forestgreen;"> </td>
<td>forestgreen</td>
<td>#228B22</td>
<td>rgb(34,139,34)</td>
</tr>
<tr>
<td>25</td>
<td style="background:green;"> </td>
<td>green</td>
<td>#008000</td>
<td>rgb(0,128,0)</td>
</tr>
<tr>
<td>26</td>
<td style="background:powderblue;"> </td>
<td>powderblue</td>
<td>#B0E0E6</td>
<td>rgb(176,224,230)</td>
</tr>
<tr>
<td>27</td>
<td style="background:lightblue;"> </td>
<td>lightblue</td>
<td>#ADD8E6</td>
<td>rgb(173,216,230)</td>
</tr>
<tr>
<td>28</td>
<td style="background:lightskyblue;"> </td>
<td>lightskyblue</td>
<td>#87CEFA</td>
<td>rgb(135,206,250)</td>
</tr>
<tr>
<td>29</td>
<td style="background:skyblue;"> </td>
<td>skyblue</td>
<td>#87CEEB</td>
<td>rgb(135,206,235)</td>
</tr>
<tr>
<td>30</td>
<td style="background:deepskyblue;"> </td>
<td>deepskyblue</td>
<td>#00BFFF</td>
<td>rgb(0,191,255)</td>
</tr>
<tr>
<td>31</td>
<td style="background:lightsteelblue;"> </td>
<td>lightsteelblue</td>
<td>#B0C4DE</td>
<td>rgb(176,196,222)</td>
</tr>
<tr>
<td>32</td>
<td style="background:dodgerblue;"> </td>
<td>dodgerblue</td>
<td>#1E90FF</td>
<td>rgb(30,144,255)</td>
</tr>
</table>

In [116]:
#Get all rows from the table
for i, row in enumerate (table.find_all('tr')): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    color_name = cols[2].string # store the value in column 3 as color_name
    color_code = cols[3].string # store the value in column 4 as color_code
    print("{}. {}--->{}".format(i, color_name,color_code))

0. Color Name--->None
1. lightsalmon--->#FFA07A
2. salmon--->#FA8072
3. darksalmon--->#E9967A
4. lightcoral--->#F08080
5. coral--->#FF7F50
6. tomato--->#FF6347
7. orangered--->#FF4500
8. gold--->#FFD700
9. orange--->#FFA500
10. darkorange--->#FF8C00
11. lightyellow--->#FFFFE0
12. lemonchiffon--->#FFFACD
13. papayawhip--->#FFEFD5
14. moccasin--->#FFE4B5
15. peachpuff--->#FFDAB9
16. palegoldenrod--->#EEE8AA
17. khaki--->#F0E68C
18. darkkhaki--->#BDB76B
19. yellow--->#FFFF00
20. lawngreen--->#7CFC00
21. chartreuse--->#7FFF00
22. limegreen--->#32CD32
23. lime--->#00FF00
24. forestgreen--->#228B22
25. green--->#008000
26. powderblue--->#B0E0E6
27. lightblue--->#ADD8E6
28. lightskyblue--->#87CEFA
29. skyblue--->#87CEEB
30. deepskyblue--->#00BFFF
31. lightsteelblue--->#B0C4DE
32. dodgerblue--->#1E90FF

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and Pandas

In [117]:
import pandas as pd

In [118]:
#The below url contains html tables with data about world population.
url = "https://en.wikipedia.org/wiki/World_population"

Before proceeding to scrape a web site, you need to examine the contents, and the way data is organized on the website. Open the above url in your browser and check the tables on the webpage.

In [121]:
# get the contents of the webpage in text format and store in a variable called data
data  = requests.get(url).text
# data

In [124]:
soup = BeautifulSoup(data,"html.parser")
# soup

In [129]:
#find all html tables in the web page
tables = soup.find_all('table') # in html table is represented by the tag <table>
# tables

In [130]:
# we can see how many tables were found by checking the length of the tables list
len(tables)

24

Assume that we are looking for the `10 most densly populated countries` table, we can look through the tables list and find the right one we are look for based on the data in each table or we can search for the table name if it is in the table but this option might not always work.

In [140]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

4

See if you can locate the table name of the table, `10 most densly populated countries`, below.

In [141]:
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
  <sup class="reference" id="cite_ref-:10_107-0">
   <a href="#cite_note-:10-107">
    [102]
   </a>
  </sup>
 </caption>
 <tbody>
  <tr>
   <th scope="col">
    Rank
   </th>
   <th scope="col">
    Country
   </th>
   <th scope="col">
    Population
   </th>
   <th scope="col">
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th scope="col">
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,921,231
   </td>
   <td>
    719
   </td>
   <td>
    8,235
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    165,650,475
   </td>
   <td>
    148,460
   </td>
   <td>
    1,116
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <p>
     <span class="flagicon">
      <img alt="" class="thumbborder" data-file-height="216" data-file-width="432" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/23px-Flag_of_Palestine.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/35px-Flag_of_Palestine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/46px-Flag_of_Palestine.svg.png 2x" width="23"/>
     </span>
     <a href="/wiki/State_of_Palestine" title="State of Palestine">
      Palestine
     </a>
     <sup class="reference" id="cite_ref-108">
      <a href="#cite_note-108">
       [103]
      </a>
     </sup>
    </p>
   </td>
   <td>
    5,223,000
   </td>
   <td>
    6,025
   </td>
   <td>
    867
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
   </td>
   <td>
    23,580,712
   </td>
   <td>
    35,980
   </td>
   <td>
    655
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,844,834
   </td>
   <td>
    99,720
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    5,296,814
   </td>
   <td>
    10,400
   </td>
   <td>
    509
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    13,173,730
   </td>
   <td>
    26,338
   </td>
   <td>
    500
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/23px-Flag_of_Burundi.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/35px-Flag_of_Burundi.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/50/Flag_of_Burundi.svg/46px-Flag_of_Burundi.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Burundi" title="Burundi">
     Burundi
    </a>
   </td>
   <td>
    12,696,478
   </td>
   <td>
    27,830
   </td>
   <td>
    456
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="900" data-file-width="1350" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/India" title="India">
     India
    </a>
   </td>
   <td>
    1,389,637,446
   </td>
   <td>
    3,287,263
   </td>
   <td>
    423
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/23px-Flag_of_the_Netherlands.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/35px-Flag_of_the_Netherlands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/45px-Flag_of_the_Netherlands.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Netherlands" title="Netherlands">
     Netherlands
    </a>
   </td>
   <td>
    17,400,824
   </td>
   <td>
    41,543
   </td>
   <td>
    419
   </td>
  </tr>
 </tbody>
</table>

In [150]:
# print(tables[table_index].tbody.find_all("tr"))

In [151]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area, "Density":density}, ignore_index=True)

population_data

  Rank                Country     Population       Area Density
0    1              Singapore      5,921,231        719   8,235
1    2             Bangladesh    165,650,475    148,460   1,116
2    3  \n Palestine[103]\n\n      5,223,000      6,025     867
3    4                 Taiwan     23,580,712     35,980     655
4    5            South Korea     51,844,834     99,720     520
5    6                Lebanon      5,296,814     10,400     509
6    7                 Rwanda     13,173,730     26,338     500
7    8                Burundi     12,696,478     27,830     456
8    9                  India  1,389,637,446  3,287,263     423
9   10            Netherlands     17,400,824     41,543     419

## Scrape data from HTML tables into a DataFrame using BeautifulSoup and read_html

Using the same `url`, `data`, `soup`, and `tables` object as in the last section we can use the `read_html` function to create a DataFrame.

Remember the table we need is located in `tables[table_index]`

We can now use the `pandas` function `read_html` and give it the string version of the table as well as the `flavor` which is the parsing engine `bs4`.

In [155]:
pd.read_html(str(tables[5]), flavor='bs4')
# print(tables[5])

[   Rank         Country  Population  Area(km2)  Density(pop/km2)  \
 0     1           India  1389637446    3287263               423
 1     2        Pakistan   242923845     796095               305
 2     3      Bangladesh   165650475     148460              1116
 3     4           Japan   124214766     377915               329
 4     5     Philippines   114597229     300000               382
 5     6         Vietnam   103808319     331210               313
 6     7  United Kingdom    67791400     243610               278
 7     8     South Korea    51844834      99720               520
 8     9          Taiwan    23580712      35980               655
 9    10       Sri Lanka    23187516      65610               353

   Population trend[citation needed]
 0                           Growing
 1                   Rapidly growing
 2                           Growing
 3                    Declining[104]
 4                           Growing
 5                           Growing
 6                           Growing
 7                            Steady
 8                            Steady
 9                           Growing  ]

The function `read_html` always returns a list of DataFrames so we must pick the one we want out of the list.

In [159]:
population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]

population_data_read_html

,Rank,Country,Population,Area(km2),Density(pop/km2),Population trend[citation needed]
0,1,India,1389637446,3287263,423,Growing
1,2,Pakistan,242923845,796095,305,Rapidly growing
2,3,Bangladesh,165650475,148460,1116,Growing
3,4,Japan,124214766,377915,329,Declining[104]
4,5,Philippines,114597229,300000,382,Growing
5,6,Vietnam,103808319,331210,313,Growing
6,7,United Kingdom,67791400,243610,278,Growing
7,8,South Korea,51844834,99720,520,Steady
8,9,Taiwan,23580712,35980,655,Steady
9,10,Sri Lanka,23187516,65610,353,Growing

## Scrape data from HTML tables into a DataFrame using read_html

We can also use the `read_html` function to directly get DataFrames from a `url`.

In [167]:
dataframe_list = pd.read_html(url, flavor='bs4')
dataframe_list

[      Population         1     2     3     4     5     6     7     8     9  \
 0           Year      1804  1930  1960  1974  1987  1999  2011  2022  2037
 1  Years elapsed  200,000+   126    30    14    13    12    12    11    15

      10
 0  2057
 1    20  ,
                                                     #  \
 0                                                   1
 1                                                   2
 2                                                   3
 3                                                   4
 4                                                   5
 5                                                   6
 6                                                   7
 7                                                   8
 8                                                   9
 9                                                  10
 10                                                NaN
 11  Notes: .mw-parser-output .reflist{font-size:90...

                               Most populous countries  \
 0                                            China[B]
 1                                               India
 2                                       United States
 3                                           Indonesia
 4                                            Pakistan
 5                                              Brazil
 6                                             Nigeria
 7                                          Bangladesh
 8                                              Russia
 9                                              Mexico
 10                                        World total
 11  Notes: .mw-parser-output .reflist{font-size:90...

                                                  2000  \
 0                                                1270
 1                                                1053
 2                                                 283
 3                                                 212
 4                                                 136
 5                                                 176
 6                                                 123
 7                                                 131
 8                                                 146
 9                                                 103
 10                                               6127
 11  Notes: .mw-parser-output .reflist{font-size:90...

                                                  2015  \
 0                                                1376
 1                                                1311
 2                                                 322
 3                                                 258
 4                                                 208
 5                                                 206
 6                                                 182
 7                                                 161
 8                                                 146
 9                                                 127
 10                                               7349
 11  Notes: .mw-parser-output .reflist{font-size:90...

                                               2030[A]
 0                                                1416
 1                                                1528
 2                                                 356
 3                                                 295
 4                                                 245
 5                                                 228
 6                                                 263
 7                                                 186
 8                                                 149
 9                                                 148
 10                                               8501
 11  Notes: .mw-parser-output .reflist{font-size:90...  ,
                      Region Density(inhabitants/km2) Population(millions)  \
 0                      Asia                    104.1                 4641
 1                    Africa                     44.4                 1340
 2                    Europe                     73.4                  747
 3             Latin America                     24.1                  653
 4  Northern America[note 2]                     14.9                  368
 5                   Oceania                        5                   42
 6                Antarctica                       ~0            0.004[91]

                                Most populous country  \
 0                      1,411,778,000 – China[note 1]
 1                            0,211,401,000 – Nigeria
 2  0,146,171,000 – Russia, approx. 110 million in...
 3                             0,214,103,000 – Brazil
 4                      0,332,909,000 – United States
 5                          0,025,917,000 – Australia
 6                                        N/A[note 3]

               Most populous city (metropolitan area)
 0  13,515,000 – Tokyo Metropolis(37,400,000 – Gre...
 1     09,500,000 – Cairo(20,076,000 – Greater Cairo)
 2  13,200,000 – Moscow(20,004,000 – Moscow metrop...
 3  12,252,000 – São Paulo City(21,650,000 – São P...
 4  08,804,000 – New York City(23,582,649 – New Yo...
 5                                05,367,000 – Sydney
 6                       00,001,258 – McMurdo Station  ,
    Rank Country / Dependency  Population Percentage of the world         Date  \
 0     1                China  1412600000                   17.6%  31 Dec 2021
 1     2                India  1373761000                   17.1%   1 Mar 2022
 2     3        United States   333698944                   4.16%  21 Feb 2023
 3     4            Indonesia   275773800                   3.44%   1 Jul 2022
 4     5             Pakistan   229488994                   2.86%   1 Jul 2022
 5     6              Nigeria   216746934                   2.70%   1 Jul 2022
 6     7               Brazil   215801039                   2.69%  21 Feb 2023
 7     8           Bangladesh   168220000                   2.10%   1 Jul 2020
 8     9               Russia   147190000                   1.84%   1 Oct 2021
 9    10               Mexico   128271248                   1.60%  31 Mar 2022

   Source (official or from the United Nations)
 0                 National annual estimate[93]
 1                 Annual national estimate[94]
 2                National population clock[95]
 3                 National annual estimate[96]
 4                            UN projection[97]
 5                            UN projection[97]
 6                National population clock[98]
 7               Annual Population Estimate[99]
 8         2021 preliminary census results[100]
 9             National quarterly estimate[101]  ,
    Rank         Country  Population  Area(km2)  Density(pop/km2)
 0     1       Singapore     5921231        719              8235
 1     2      Bangladesh   165650475     148460              1116
 2     3  Palestine[103]     5223000       6025               867
 3     4          Taiwan    23580712      35980               655
 4     5     South Korea    51844834      99720               520
 5     6         Lebanon     5296814      10400               509
 6     7          Rwanda    13173730      26338               500
 7     8         Burundi    12696478      27830               456
 8     9           India  1389637446    3287263               423
 9    10     Netherlands    17400824      41543               419,
    Rank         Country  Population  Area(km2)  Density(pop/km2)  \
 0     1           India  1389637446    3287263               423
 1     2        Pakistan   242923845     796095               305
 2     3      Bangladesh   165650475     148460              1116
 3     4           Japan   124214766     377915               329
 4     5     Philippines   114597229     300000               382
 5     6         Vietnam   103808319     331210               313
 6     7  United Kingdom    67791400     243610               278
 7     8     South Korea    51844834      99720               520
 8     9          Taiwan    23580712      35980               655
 9    10       Sri Lanka    23187516      65610               353

   Population trend[citation needed]
 0                           Growing
 1                   Rapidly growing
 2                           Growing
 3                    Declining[104]
 4                           Growing
 5                           Growing
 6                           Growing
 7                            Steady
 8                            Steady
 9                           Growing  ,
     Year  Population Yearly growth           Density(pop/km2)  \
     Year  Population             %    Number Density(pop/km2)
 0   1951  2584034261         1.88%  47603112               17
 1   1952  2630861562         1.81%  46827301               18
 2   1953  2677608960         1.78%  46747398               18
 3   1954  2724846741         1.76%  47237781               18
 4   1955  2773019936         1.77%  48173195               19
 ..   ...         ...           ...       ...              ...
 65  2016  7464022000         1.14%  84225000               50
 66  2017  7547859000         1.12%  83837000               51
 67  2018  7631091000         1.10%  83232000               51
 68  2019  7713468000         1.08%  82377000               52
 69  2020  7795000000         1.05%  81331000               52

    Urban population
              Number    %
 0         775067697  30%
 1         799282533  30%
 2         824289989  31%
 3         850179106  31%
 4         877008842  32%
 ..              ...  ...
 65       4060653000  54%
 66       4140189000  55%
 67       4219817000  55%
 68       4299439000  56%
 69       4378900000  56%

 [70 rows x 7 columns],
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                     World   585   660   710   791   978  1262  1650  2521
 1                    Africa    86   114   106   106   107   111   133   221
 2                      Asia   282   350   411   502   635   809   947  1402
 3                    Europe   168   170   178   190   203   276   408   547
 4     Latin America[Note 1]    40    20    10    16    24    38    74   167
 5  Northern America[Note 1]     6     3     2     2     7    26    82   172
 6                   Oceania     3     3     3     2     2     2     6    13

    1999  2008  2010  2012  2050  2150
 0  6008  6707  6896  7052  9725  9746
 1   783   973  1022  1052  2478  2308
 2  3700  4054  4164  4250  5267  5561
 3   675   732   738   740   734   517
 4   508   577   590   603   784   912
 5   312   337   345   351   433   398
 6    30    34    37    38    57    51  ,
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                    Africa  14.7  17.3  14.9  13.4  10.9   8.8   8.1   8.8
 1                      Asia  48.2  53.0  57.9  63.5  64.9  64.1  57.4  55.6
 2                    Europe  28.7  25.8  25.1  20.6  20.8  21.9  24.7  21.7
 3     Latin America[Note 1]   6.8   3.0   1.4   2.0   2.5   3.0   4.5   6.6
 4  Northern America[Note 1]   1.0   0.5   0.3   0.3   0.7   2.1   5.0   6.8
 5                   Oceania   0.5   0.5   0.4   0.3   0.2   0.2   0.4   0.5

    1999  2008  2010  2012  2050  2150
 0  13.0  14.5  14.8  15.2  25.5  23.7
 1  61.6  60.4  60.4  60.3  54.2  57.1
 2  11.2  10.9  10.7  10.5   7.6   5.3
 3   8.5   8.6   8.6   8.6   8.1   9.4
 4   5.2   5.0   5.0   5.0   4.5   4.1
 5   0.5   0.5   0.5   0.5   0.6   0.5  ,
          Year    World  Africa    Asia  Europe  Latin America& Carib.[Note 1]  \
 0   70,000 BC  < 0.015     NaN     NaN     NaN                            0.0
 1   10,000 BC        4     NaN     NaN     NaN                            NaN
 2     8000 BC        5     NaN     NaN     NaN                            NaN
 3     6500 BC        5     NaN     NaN     NaN                            NaN
 4     5000 BC        5     NaN     NaN     NaN                            NaN
 5     4000 BC        7     NaN     NaN     NaN                            NaN
 6     3000 BC       14     NaN     NaN     NaN                            NaN
 7     2000 BC       27     NaN     NaN     NaN                            NaN
 8     1000 BC       50     7.0    33.0     9.0                            NaN
 9      500 BC      100    14.0    66.0    16.0                            NaN
 10       AD 1      200    23.0   141.0    28.0                            NaN
 11       1000      400    70.0   269.0    50.0                            8.0
 12       1500      458    86.0   243.0    84.0                           39.0
 13       1600      580   114.0   339.0   111.0                           10.0
 14       1700      682   106.0   436.0   125.0                           10.0
 15       1750      791   106.0   502.0   163.0                           16.0
 16       1800     1000   107.0   656.0   203.0                           24.0
 17       1850     1262   111.0   809.0   276.0                           38.0
 18       1900     1650   133.0   947.0   408.0                           74.0
 19       1950     2525   229.0  1394.0   549.0                          169.0
 20       1955     2758   254.0  1534.0   577.0                          193.0
 21       1960     3018   285.0  1687.0   606.0                          221.0
 22       1965     3322   322.0  1875.0   635.0                          254.0
 23       1970     3682   366.0  2120.0   657.0                          288.0
 24       1975     4061   416.0  2378.0   677.0                          326.0
 25       1980     4440   478.0  2626.0   694.0                          365.0
 26       1985     4853   550.0  2897.0   708.0                          406.0
 27       1990     5310   632.0  3202.0   721.0                          447.0
 28       1995     5735   720.0  3475.0   728.0                          487.0
 29       2000     6127   814.0  3714.0   726.0                          527.0
 30       2005     6520   920.0  3945.0   729.0                          564.0
 31       2010     6930  1044.0  4170.0   735.0                          600.0
 32       2015     7349  1186.0  4393.0   738.0                          634.0

     North America[Note 1]  Oceania              Notes
 0                     0.0      NaN              [121]
 1                     NaN      NaN              [122]
 2                     NaN      NaN                NaN
 3                     NaN      NaN                NaN
 4                     NaN      NaN                NaN
 5                     NaN      NaN                NaN
 6                     NaN      NaN                NaN
 7                     NaN      NaN                NaN
 8                     NaN      NaN  [citation needed]
 9                     NaN      NaN                NaN
 10                    NaN      NaN                NaN
 11                    1.0      2.0                NaN
 12                    3.0      3.0                NaN
 13                    3.0      3.0                NaN
 14                    2.0      3.0                NaN
 15                    2.0      2.0                NaN
 16                    7.0      3.0                NaN
 17                   26.0      2.0                NaN
 18                   82.0      6.0                NaN
 19                  172.0     12.7              [123]
 20                  187.0     14.2                NaN
 21                  204.0     15.8                NaN
 22                  219.0     17.5                NaN
 23                  231.0     19.7                NaN
 24                  242.0     21.5                NaN
 25                  254.0     23.0                NaN
 26                  267.0     24.9                NaN
 27                  281.0     27.0                NaN
 28                  296.0     29.1                NaN
 29                  314.0     31.1                NaN
 30                  329.0     33.4                NaN
 31                  344.0     36.4                NaN
 32                  358.0     39.3                NaN  ,
     0                                                  1
 0 NaN  This section needs additional citations for ve...,
    Year  UN est.(millions) Difference  USCB est.(millions) Difference.1
 0  2005               6542          –                 6473            –
 1  2010               6957        415                 6866          393
 2  2015               7380        423                 7256          390
 3  2020               7795        415                 7643          380
 4  2025               8184        390                 8007          363
 5  2030               8549        364                 8341          334
 6  2035               8888        339                 8646          306
 7  2040               9199        311                 8926          280
 8  2045               9482        283                 9180          254
 9  2050               9735        253                 9408          228,
     Year  World           Asia         Africa       Europe  \
 0   2000   6144  3,741 (60.9%)    811 (13.2%)  726 (11.8%)
 1   2005   6542  3,978 (60.8%)    916 (14.0%)  729 (11.2%)
 2   2010   6957  4,210 (60.5%)  1,039 (14.9%)  736 (10.6%)
 3   2015   7380  4,434 (60.1%)  1,182 (16.0%)  743 (10.1%)
 4   2020   7795  4,641 (59.5%)  1,341 (17.2%)   748 (9.6%)
 5   2025   8184  4,823 (58.9%)  1,509 (18.4%)   746 (9.1%)
 6   2030   8549  4,974 (58.2%)  1,688 (19.8%)   741 (8.7%)
 7   2035   8888  5,096 (57.3%)  1,878 (21.1%)   735 (8.3%)
 8   2040   9199  5,189 (56.4%)  2,077 (22.6%)   728 (7.9%)
 9   2045   9482  5,253 (55.4%)  2,282 (24.1%)   720 (7.6%)
 10  2050   9735  5,290 (54.3%)  2,489 (25.6%)   711 (7.3%)
 11  2055   9958  5,302 (53.2%)  2,698 (27.1%)   700 (7.0%)
 12  2060  10152  5,289 (52.1%)  2,905 (28.6%)   689 (6.8%)
 13  2065  10318  5,256 (51.0%)  3,109 (30.1%)   677 (6.6%)
 14  2070  10459  5,207 (49.8%)  3,308 (31.6%)   667 (6.4%)
 15  2075  10577  5,143 (48.6%)  3,499 (33.1%)   657 (6.2%)
 16  2080  10674  5,068 (47.5%)  3,681 (34.5%)   650 (6.1%)
 17  2085  10750  4,987 (46.4%)  3,851 (35.8%)   643 (6.0%)
 18  2090  10810  4,901 (45.3%)  4,008 (37.1%)   638 (5.9%)
 19  2095  10852  4,812 (44.3%)  4,152 (38.3%)   634 (5.8%)
 20  2100  10875  4,719 (43.4%)  4,280 (39.4%)   630 (5.8%)

    Latin America/Caribbean Northern America    Oceania
 0               522 (8.5%)       312 (5.1%)  31 (0.5%)
 1               558 (8.5%)       327 (5.0%)  34 (0.5%)
 2               591 (8.5%)       343 (4.9%)  37 (0.5%)
 3               624 (8.5%)       357 (4.8%)  40 (0.5%)
 4               654 (8.4%)       369 (4.7%)  43 (0.6%)
 5               682 (8.3%)       380 (4.6%)  45 (0.6%)
 6               706 (8.3%)       391 (4.6%)  48 (0.6%)
 7               726 (8.2%)       401 (4.5%)  50 (0.6%)
 8               742 (8.1%)       410 (4.5%)  53 (0.6%)
 9               754 (8.0%)       418 (4.4%)  55 (0.6%)
 10              762 (7.8%)       425 (4.4%)  57 (0.6%)
 11              767 (7.7%)       432 (4.3%)  60 (0.6%)
 12              768 (7.6%)       439 (4.3%)  62 (0.6%)
 13              765 (7.4%)       447 (4.3%)  64 (0.6%)
 14              759 (7.3%)       454 (4.3%)  66 (0.6%)
 15              750 (7.1%)       461 (4.4%)  67 (0.6%)
 16              739 (6.9%)       468 (4.4%)  69 (0.7%)
 17              726 (6.8%)       474 (4.4%)  71 (0.7%)
 18              711 (6.6%)       479 (4.4%)  72 (0.7%)
 19              696 (6.4%)       485 (4.5%)  74 (0.7%)
 20              680 (6.3%)       491 (4.5%)  75 (0.7%)  ,
   Population(in billions)   0.5  0.5.1     1   1.1     2   2.1     4   4.1  \
 0                    Year  1500   1500  1804  1804  1927  1927  1974  1974
 1           Years elapsed     —    304   304   123   123    47    47    48

       8   8.1                                                 16  \
 0  2022  2022  .mw-parser-output .tooltip-dotted{border-botto...

We can see there are 25 DataFrames just like when we used `find_all` on the `soup` object.

In [168]:
len(dataframe_list)

24

Finally we can pick the DataFrame we need out of the list.

In [169]:
dataframe_list[5]

,Rank,Country,Population,Area(km2),Density(pop/km2),Population trend[citation needed]
0,1,India,1389637446,3287263,423,Growing
1,2,Pakistan,242923845,796095,305,Rapidly growing
2,3,Bangladesh,165650475,148460,1116,Growing
3,4,Japan,124214766,377915,329,Declining[104]
4,5,Philippines,114597229,300000,382,Growing
5,6,Vietnam,103808319,331210,313,Growing
6,7,United Kingdom,67791400,243610,278,Growing
7,8,South Korea,51844834,99720,520,Steady
8,9,Taiwan,23580712,35980,655,Steady
9,10,Sri Lanka,23187516,65610,353,Growing

We can also use the `match` parameter to select the specific table we want. If the table contains a string matching the text it will be read.

In [174]:
pd.read_html(url, match="10 most densely populated countries", flavor='bs4')[0]

   Rank         Country  Population  Area(km2)  Density(pop/km2)
0     1       Singapore     5921231        719              8235
1     2      Bangladesh   165650475     148460              1116
2     3  Palestine[103]     5223000       6025               867
3     4          Taiwan    23580712      35980               655
4     5     South Korea    51844834      99720               520
5     6         Lebanon     5296814      10400               509
6     7          Rwanda    13173730      26338               500
7     8         Burundi    12696478      27830               456
8     9           India  1389637446    3287263               423
9    10     Netherlands    17400824      41543               419

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By                                               | Change Description |
| ----------------- | ------- | -------------------------------------------------------- | ------------------ |
| 2021-08-04        | 0.2     | Made changes to markdown of nextsibling                  |                    |
| 2020-10-17        | 0.1     | Joseph Santarcangelo  Created initial version of the lab |                    |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork23455606-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork-19487395&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).